.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.center {
    text-align: center;
    margin: 10px;
}

div {
    display: inline-block;
    text-align: center;
}

button {
    margin: 10px;
}