.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: goldenrod;
}

.navy{
    color:#3b60e4;
}

.center {
    text-align: center;
    margin: 10px;
}

button {
    margin: 10px;
}

@media (max-width: 996px) {
    .col {
        width: 100%
    }
    .col h4{
        font-size: 16px;
    }
}

@media (max-width: 770px) {
    .card {
        padding: 0px;
        margin: 0px;

    }
}

.class-buttons {
    display:flex;
    justify-content: center;
}

.loader-gif {
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.loader-gif2 {
    display: flex;
    justify-content: center;
}

#output {
    margin: 20px;
}

body {
    background-color: #f7f8f9;
}